@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../../public/fonts/MontserratAlternates/MontserratAlternates-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}