@import 'src/styles/styles';

.header {
  &__container {
    @extend .container;
  }

  &__wrapper {
    background-color: aquamarine;
    border-radius: 40px;
    padding: 40px;
    margin-top: 40px;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}